<!-- Por si el dispositivo no tiene botones para retroceder -->
<a routerLink="">
    <i class="pi pi-arrow-left arrow-return"></i>
</a>

<form class="mobile" 
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="login()">

    <div class="formulario">
      <div class="form-content">

        <h2 class="titulo log-in">Log in</h2>

        <div class="input-container">
          <input class="input"
                 type="text"
                 placeholder="Nombre"
                 formControlName="name">
        </div>
        <div class="input-container">
          <input class="input"
                 type="password"
                 placeholder="Password"
                 formControlName="password">
        </div>

        <button type="submit" 
                class="boton"
                [disabled]="miFormulario.invalid">
                Submit
        </button>

        <div class="sign-in">
          <span class="not-tienes-cuenta">¿No tienes cuenta?</span>
          <a class="crear-una-aqui"
             routerLink="/auth/registro">CREAR UNA AQUÍ</a>
        </div>

      </div>
    </div>

</form>