<div class="row">
        <input type="text"
               class="form-control"
               placeholder="Buscar lugar"
               #txtQuery
               #query
               value="GMS DE GUIJUELO SL">

        <select class="form-select"
                #selectFiltro>
                <option value=""></option>
                <option value="favoritos"
                        *ngIf="hasFavPoints"> favoritos </option>
            <option *ngFor="let filtro of filtros"
             [value]="filtro.value" >{{ filtro.name }}</option>
        </select>

        <button type="button" 
                    class="btn btn-primary" 
                    (click)="onQueryChanged()">
                Ruta
            </button>
</div>