.header-content{
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
input{
    flex-basis: 200px;
    /* flex-grow: 1; */
    width: 100%;/* 
    max-width: 60vw; */
}
select{
    width: fit-content;
}
button{
    width: fit-content;
}
