
<p-sidebar  [(visible)]="sidebarVisible" 
            position="bottom" 
            styleClass="p-sidebar-lg" 
            id="menu"><!-- [style]="{ 'height': '60vh' }" -->

    <ng-template pTemplate="header" style="background-color: blue;">
        <app-search-bar></app-search-bar>
    </ng-template>
    <ng-template pTemplate="body">
        <app-search-bar-results></app-search-bar-results>
    </ng-template>
    

</p-sidebar>
<p-button (click)="sidebarVisible = true" 
          icon="pi pi-arrow-up" 
          id="menuButton">
</p-button>