<p-sidebar [(visible)]="sidebarVisible" 
           class="sidebar">
    <!-- <ng-template pTemplate="header"
           id="header">
        {{ ruta.distance}} km
    </ng-template> -->
    <ng-template pTemplate="body">
        <!-- <ul> -->
            <h6>{{ ruta.distance | distance: 'm': 'km' | number }} km | {{ ruta.duration | time }} </h6>
            <ol>
                <li *ngFor="let step of ruta.legs[0].steps">
                    {{ step.maneuver.instruction }}
                </li>
                <!-- <label>{{ step.distance }}</label> -->
            </ol>
        <!-- </ul> -->
        
    </ng-template>
</p-sidebar>
<p-button (click)="sidebarVisible = true" 
label="Ruta"
          class=" vertical-text">
    <!-- <label class="vertical-text">Ruta</label> -->
</p-button>
