<a routerLink="">
    <i class="pi pi-arrow-left arrow-return"></i>
</a>

<section class="auth-content">

  <form class="formulario" 
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="registro()">

        <h2 class="titulo">Registro</h2>

        <div class="input-container">
          <input class="input"
                 type="text"
                 placeholder="Nombre"
                 formControlName="name">
        </div>
        <div class="input-container">
          <input class="input"
                 type="password"
                 placeholder="Password"
                 formControlName="password">
        </div>
        
        <div class="input-container">
          <input class="input"
                 type="password"
                 placeholder="Confirmar"
                 formControlName="confirmar">
        </div>

        <button type="submit" 
                class="boton"
                [disabled]="miFormulario.invalid">
                Submit
        </button>

        <div class="sign-in">
          <span class="not-tienes-cuenta">¿Ya tienes cuenta?</span>
          <a class="crear-una-aqui"
             routerLink="/auth">INICIAR SESIÓN</a>
        </div>

</form>

</section>